{% extends 'old-html/base/base.html' %}
{% load static %}

{% block head %}
    <title>Landing</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed|Ubuntu:500&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/one-page-scroll.css' %}">
    <!-- slider style -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">

    <link rel="stylesheet" href="{% static 'pages_style/new-landing.css' %}">

    <link rel="stylesheet" href="{% static 'css/media/new-landing.css' %}">
{% endblock %}


{% block main %}
    <section id="home">
        {% include 'new_html/base/header.html' %}

        <div class="slider-container">
            <div id="carousel-controls" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-controls" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-controls" data-slide-to="1"></li>
                    <li data-target="#carousel-controls" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'media/slider-content/small/img_1.jpeg' %}" class="img-full-width">
                        <div class="carousel-caption d-md-block">
                            <h5>Topic 1</h5>
                            <p>Hello world!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'media/slider-content/small/img_1.jpeg' %}" class="img-full-width" alt="Second slide">
                        <div class="carousel-caption d-md-block">
                            <h5>Topic 2</h5>
                            <p>Hello world!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'media/slider-content/small/img_1.jpeg' %}" class="img-full-width" alt="Third slide">
                        <div class="carousel-caption d-md-block">
                            <h5>Topic 3</h5>
                            <p>Hello world!</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-controls" role="button" data-slide="prev"></a>
                <a class="carousel-control-next" href="#carousel-controls" role="button" data-slide="next"></a>
            </div>
        </div>
        <div class="next-slide-block">
            <div class="arrow-container">
                <i class="arrow">
                    <span></span>
                </i>
            </div>
        </div>
    </section>
    <section id="about-us">
        <h1>Об авторе</h1>
        <div class="author-data">
            <div class="author-img">
                <img src="{% static 'media/author/author_1.jpg' %}" class="img-full-width" alt="Author image">
            </div>
            <div class="contact-data">
                <div class="contact">
                    <h2>Виктория Ратеева</h2>
                    <h3>Психолог кафедры психологии. Номинант на ...</h3>
                </div>
                <div class="author-descr">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci beatae, debitis
                        dignissimos distinctio dolore.
                        dignissimos distinctio dolore.
                    </p>

                </div>
                <address class="author-contacts">
                    <h3 class="phone">
                        <i class="fas fa-mobile-alt"></i>Контактные данные:
                    </h3>
                    <p>+380 (50) XXX-XX-XX</p>
                    <p>+380 (50) XXX-XX-XX</p>
                    <p>ratviktoriya@gmail.com</p>
                    <h3><i class="fas fa-broadcast-tower"></i> Социальные сети:</h3>
                    <div class="social">
                        <a href="" class="you-tube">
                            <i class="fab fa-youtube fa-2x"></i>
                        </a>
                        <a href="https://www.facebook.com/viktoria.rateeva fa-2x" class="fb">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/viktoriarateeva/" class="inst">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </div>
                </address>
            </div>
        </div>
        <div class="next-slide-block">
            <div class="arrow-container">
                <i class="arrow">
                    <span></span>
                </i>
            </div>
        </div>
    </section>
    <section id="new-arrivals">
        <h1>Новые поступления</h1>
        <div class="arrivals">
            <a href="{% url 'item' %}" class="new-item">
                    <img src="{% static 'media/new_arrivals/small/img_1.jpeg' %}" class="img-full-width" alt="New card">
                    <div class="item-descr">
                        <p>PUZZLE-maxi</p>
                        <p class="price">150</p>
                    </div>
            </a>
            <a href="{% url 'item' %}" class="new-item">
                    <img src="{% static 'media/new_arrivals/small/img_1.jpeg' %}" class="img-full-width" alt="New card">
                    <div class="item-descr">
                        <p>PUZZLE-maxi</p>
                        <p class="price">150</p>
                    </div>
            </a>
            <a href="{% url 'item' %}" class="new-item">
                    <img src="{% static 'media/new_arrivals/small/img_1.jpeg' %}" class="img-full-width" alt="New card">
                    <div class="item-descr">
                        <p>PUZZLE-maxi</p>
                        <p class="price">150</p>
                    </div>
            </a>
        </div>
        <div class="next-slide-block">
            <div class="arrow-container">
                <i class="arrow">
                    <span></span>
                </i>
            </div>
        </div>
    </section>
    <section id="items">
        <h1>Товары</h1>
        <div class="items-slider">
            <a class="item" href="{% url 'item' %}">
                <div class="image-container">
                    <img src="{% static 'media/items/image_1.jpg' %}" alt="Item 1">
                </div>
                <p class="item-name">Психологические карточки</p>
                <p class="price">1350</p>
            </a>
            <a class="item" href="{% url 'item' %}">
                <div class="image-container">
                    <img src="{% static 'media/items/image_2.jpg' %}" alt="Item 1">
                </div>
                <p class="item-name">Психологические карточки</p>
                <p class="price">1350</p>
            </a>
            <a class="item" href="{% url 'item' %}">
                <div class="image-container">
                    <img src="{% static 'media/items/image_3.jpg' %}" alt="Item 1">
                </div>
                <p class="item-name">Психологические карточки</p>
                <p class="price">1350</p>
            </a>
            <a class="item" href="{% url 'item' %}">
                <div class="image-container">
                    <img src="{% static 'media/items/image_4.jpg' %}" alt="Item 1">
                </div>
                <p class="item-name">Психологические карточки</p>
                <p class="price">1350</p>
            </a>
            <a class="item" href="{% url 'item' %}">
                <div class="image-container">
                    <img src="{% static 'media/items/image_5.jpg' %}" alt="Item 1">
                </div>
                <p class="item-name">Психологические карточки</p>
                <p class="price">1350</p>
            </a>
            <a class="item" href="{% url 'item' %}">
                <div class="image-container">
                    <img src="{% static 'media/items/image_6.jpg' %}" alt="Item 1">
                </div>
                <p class="item-name">Психологические карточки</p>
                <p class="price">1350</p>
            </a>
            <a class="item" href="{% url 'item' %}">
                <div class="image-container">
                    <img src="{% static 'media/items/image_7.jpg' %}" alt="Item 1">
                </div>
                <p class="item-name">Психологические карточки</p>
                <p class="price">1350</p>
            </a>
        </div>
    </section>




{% endblock %}


{% block scripts %}
    <script src="{% static 'lib/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/slick.min.js' %}"></script>

    <script src="{% static 'lib/one-page-scroll.min.js' %}"></script>

    <script defer src="{% static 'pages_script/landing.js' %}"></script>
{% endblock %}
