<header class="row col-12" style="background: #e3e3db;">
    <nav class="navbar navbar-expand navbar-light">
        <a class="navbar-brand" href="/">АЭТ</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#2">Об авторе</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#3">Новые поступления</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#4">Товары</a>
          </li>
        </ul>
    </nav>
</header>