{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <title>Landing</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed|Ubuntu:500&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/one-page-scroll.css' %}">
    <!-- slider styles -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">

    <link rel="stylesheet" href="{% static 'pages_style/landing.css' %}">

    <link rel="stylesheet" href="{% static 'mediaQueries/css/landing.css' %}">
{% endblock %}


{% block main %}

    <section id="home">
        {% include 'base/header.html' %}
        <div class="slider-container">
            <div id="carousel-controls" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for slide in slides %}
                        <li data-target="#carousel-controls" data-slide-to="{{ forloop.counter0 }}"
                            {% if forloop.counter == 1 %}class="active"{% endif %}>
                        </li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for slide in slides %}

                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                            <img src="{{ slide.portraitImg.image.url }}" data-largeImgUrl="{{ slide.landscapeImg.image.url }}" class="img-full-width">
                            <div class="carousel-caption d-md-block">

                                <h5>{% if slide.title %} {{ slide.title }} {% endif %}</h5>
                                <p>{% if slide.description %} {{ slide.description }} {% endif %}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-controls" role="button" data-slide="prev"></a>
                <a class="carousel-control-next" href="#carousel-controls" role="button" data-slide="next"></a>
            </div>
        </div>
        <div class="next-slide-block">
            <div class="arrow-container">
                <i class="arrow">
                    <span></span>
                </i>
            </div>
        </div>
    </section>
    <section id="about-us">
        <h1>Об авторе</h1>
        <div class="author-data">
            <div class="author-img">
                <img src="{{ aboutAuthor.portraitImg.image.url }}" data-largeImgUrl="{{ aboutAuthor.landscapeImg.image.url }}" class="img-full-width" alt="Author image">
            </div>
            <div class="contact-data">
                <div class="contact">
                    <h2>{{ aboutAuthor.authorName }}</h2>
                    <h3>{{ aboutAuthor.authorJob }}</h3>
                </div>
                <div class="author-descr">
                    <p>{{ aboutAuthor.authorDescription }}</p>
                </div>
                <address class="author-contacts">
                    <h3 class="phone">
                        <i class="fas fa-mobile-alt"></i>Контактные данные:
                    </h3>
                    <p>{{ aboutAuthor.authorPhone }}</p>
                    {% if aboutAuthor.authorPhoneAdd %}
                        <p>{{ aboutAuthor.authorPhoneAdd }}</p>
                    {% endif %}
                    <p>{{ aboutAuthor.authorEmail }}</p>
                    <h3><i class="fas fa-broadcast-tower"></i> Социальные сети:</h3>
                    <div class="social">
                        <a href="" class="you-tube">
                            <i class="fab fa-youtube fa-2x"></i>
                        </a>
                        <a href="https://www.facebook.com/viktoria.rateeva fa-2x" class="fb">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/viktoriarateeva/" class="inst">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </div>
                </address>
            </div>
        </div>
        <div class="next-slide-block">
            <div class="arrow-container">
                <i class="arrow">
                    <span></span>
                </i>
            </div>
        </div>
    </section>
    <section id="new-arrivals">
        <h1>Новые поступления</h1>
        <div class="arrivals">
            {% for newArrival in newArrivals %}
                <a href = "/item/{{ newArrival.item.pk}}/" class="new-item">
                    <img src="{{ newArrival.landscapeImage.url }}" data-largeImgUrl = "{{ newArrival.portraitImage.url }}" class="img-full-width" alt="{{ newArrival.item.name }}">
                    <div class="item-descr">
                        <p>{{ newArrival.item.name }}</p>
                        <p class="price">{{ newArrival.item.price }}</p>
                    </div>
                </a>
            {% endfor %}

        </div>
        <div class="next-slide-block">
            <div class="arrow-container">
                <i class="arrow">
                    <span></span>
                </i>
            </div>
        </div>
    </section>
    <section id="items">
        <h1>Товары</h1>
        <div class="items-slider">
            {% for item in items %}
                <a class = "item" href = "/item/{{ item.item.pk }}/">
                    <div class="image-container">
                        <img src = "{{ item.smallImage.url }}" alt = "{{ item.item.name }}">
                    </div>
                    <p class="item-name">{{ item.item.name }}</p>
                    <p class="price">{{ item.item.price }}</p>
                </a>
            {% endfor %}
        </div>
    </section>




{% endblock %}


{% block scripts %}
    <script src="{% static 'lib/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/slick.min.js' %}"></script>

    <script src="{% static 'lib/one-page-scroll.min.js' %}"></script>

    <script defer src="{% static 'mediaQueries/js/landing.js' %}"></script>
    <script defer src="{% static 'pages_script/landing.js' %}"></script>
{% endblock %}
